.wrapper {
  width: 350px;
  height: 220px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 10px;
  transition: all 0.2s;
}

.wrapper:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.image {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
}

.title {
  text-align: left;
  padding: 15px 5px;
  font-weight: 500;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imageModal {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
}
