.wrapper {
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.wrapper:hover {
  background-color: #45a049;
}
