.wrapper {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.addButton {
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px 20px;
  margin: 0 10px;
  width: 110px;
  border-radius: 5px;
}
