.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.contentWrapper {
  z-index: 2;
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
}

.header {
  position: relative;
}
.closeButton {
  position: absolute;
  right: -14px;
  top: -17px;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 1px solid grey;
  cursor: pointer;
}

.content {
  padding: 20px;
}
