.wrapper {
}

.contentWrapper {
  overflow: auto;
  max-height: 500px;
  margin-top: 15px;
}

.actions {
  display: flex;
  flex-direction: row;
}

.actionButton {
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px 20px;
  margin: 0 10px;
}

.title {
  margin: 20px 0;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.title:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.content {
  margin: 20px 0;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  max-height: 500px;
}

.content:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image {
  width: auto;
  height: 150px;
  background-position: center;
  background-size: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
}
