.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
}

.haveAccount {
  cursor: pointer;
  padding: 20px 0;
}

.haveAccount:hover {
  text-decoration: underline;
}
